<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop 7 product page</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../Assets/favicon/site.webmanifest">
</head>
<body>
    <nav class="nav-bar">
        <img src="../Assets/logo.svg" class="logo">
        <div class="nav-items">
            <a href="../index.html">Home</a>
            <a href="countdown.html">Countdown</a>
            <a href="shop-page.html" class="active">Products</a>
            <a href="#">Cart</a>
            <span><a href="login.html">Login</a>/<a href="signup.html">Signup</a></span>
        </div>
    </nav>
    <main class="store-item">
        <div class="images">
            <img src="../Assets/images/items.png" class="slide" id="slide">
            <img src="../Assets/arrow.svg" class="arrow left" id="prev">
            <img src="../Assets/arrow.svg" class="arrow" id="next">
            <div class="others">
                <img src="../Assets/images/items.png" class="main current" id="one">
                <img src="../Assets/images/green.png" class="green" id="two">
                <img src="../Assets/images/blue.png" class="blue" id="three">
                <img src="../Assets/images/red.png" class="red" id="four">
                <img src="../Assets/images/orange.png" class="orange" id="five">
            </div>
        </div>
        <div class="store-item-cnt">
            <h2 class="title">Multi-coloured Short Sleeve Shirt</h2>
            <h6 class="h6">Be the first to review this product</h6>
            <hr class="shop-hr">
            <h3 class="pane">
                <span class="prize">$90.99</span>
                <span class="available">Launch: 
                    <em> December 1, 2020.</em>
                </span>
            </h3>
            <h3 class="remark">this product is only open for pre-order</h3>
            <div class="sizes">
                <header>
                    <b>Size</b><span id="size-value">XS</span>
                </header>
                <div class="buttons">
                    <button id="xs" value="XS">XS</button>
                    <button id="s" value="S">S</button>
                    <button id="m" value="M">M</button>
                    <button id="l" value="L">L</button>
                    <button id="xl" value="XL">XL</button>
                </div>
            </div>
            <div class="color">
                <header>
                    <b>Color</b><span id="color-value">Green</span>
                </header>
                <div class="colors">
                    <button id="green" value="Green"></button>
                    <button id="blue" value="Blue"></button>
                    <button id="red"value="Red"></button>
                    <button id="orange"value="Orange"></button>
                </div>
            </div>
            <div class="Qty">
                <header>Qty</header>
                <input type="number" placeholder="1" name="qty" id="qty">
            </div>
            <a class="preorder-btn" href="#">Pre-Order</a>
        </div>
    </main>
    <aside></aside>
    <footer></footer>
    <script src="../script.js"></script>
</body>
</html>