<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop 7 product page</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../Assets/favicon/site.webmanifest">
</head>
<body style="background: #FFFFFF;">
    <nav class="nav-bar">
        <img src="../Assets/logo.svg" class="logo">
        <div class="nav-items">
            <a href="../index.html">Home</a>
            <a href="countdown.html">Countdown</a>
            <a href="shop-page.html" class="active">Products</a>
            <a href="#">Cart</a>
            <span><a href="login.html">Login</a>/<a href="signup.html">Signup</a></span>
        </div>
    </nav>
    <main class="store-item">
        <div class="images">
            <div class="others">
                <img src="../Assets/images/green.png" class="green">
                <img src="../Assets/images/blue.png" class="blue">
                <img src="../Assets/images/red.png" class="red">
                <img src="../Assets/images/orange.png" class="orange">
            </div>
        </div>
        <div class="store-item-cnt">
            <h2 class="title">Multi-coloured Short Sleeve Shirt</h2>
            
        </div>
    </main>
    <aside></aside>
    <footer></footer>
</body>
</html>

Cart
Pay




Shop7

Item
●  Multi-coloured  short sleeve shirt round collar

Variations
M L XL XXL XXXL

Delivery  and Returns
Delivery Details: At shop7 we deliver to our customers irrespective of their location. Item(s) will be delivered after three working days.

Return Policy: Free returns within  five days after  delivery of item(s)

Warranty: Not Available



Product details
Description
●  4Pcs  T – shirt in a package
● material :  cotton
● Collar shape : Round
●style  : Casual
● Colour: Multi-coloured